<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <title>BeastMaster:Remaster</title>
</head>
<body>
<h1>BeastMaster64: Remaster</h1>
<div class="inputContainer">
    <input id="mainInput" type="text" onkeypress="handleKey(event)">
    <button id="mainButton" onclick="handleSend()">Отправить</button>
</div>
<div class="mainContainer">
    <div class="blank"></div>
    <div class="event template">
        <div class="wrapper">
            <pre class="event__story">Введите имя героя.</pre>
        </div>
    </div>

</div>
</body>
</html>